.sidebar-container{
    width: 65px;
    height: 100vh;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(245, 245, 245, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-games-menu{
    display: flex;
    justify-content: center;

}

.sidebar-games{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.sidebar-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-self: flex-end;
}